<link rel="stylesheet" href="/css/header.css">
<header>
    <nav>
        <div class="left">
            <a href="/">
                <span>careerCamp</span>
            </a>
        </div>
        <div class="right">
            <div class="right-children">
                <a href="/students">
                    <span>students</span>
                </a>
            </div>
            <div class="right-children">
                <a href="/user/sign-in">
                    <span>login</span>
                </a>
            </div>
            <div class="right-children">
                <a href="/user/sign-up">
                    <span>sign up</span>
                </a>
            </div>
        </div>
    </nav>
</header>