<link rel="stylesheet" href="/css/header.css">
<header>
    <nav>
        <div class="left">
            <a href="/">
                <img src="https://cdn-icons-png.flaticon.com/128/942/942767.png" alt="">
                <span>careerCamp</span>
            </a>
        </div>
        <div class="right">
            <div class="right-children">
                <% if (locals.user) { %>
                    <a href="/students">
                        <img src="https://cdn-icons-png.flaticon.com/128/13219/13219071.png" alt="">
                        <span>students</span>
                    </a>
                <% }%>
                
            </div>
            <div class="right-children">
                <a href="/user/sign-in">
                        <% if (locals.user) { %>
                            <img src="https://cdn-icons-png.flaticon.com/128/1674/1674704.png" alt="">
                            <span>
                                <%= user.name %>
                            </span>
                            
                        <% } else { %>
                            <img src="https://cdn-icons-png.flaticon.com/128/5075/5075168.png" alt="">
                            <span>login</span>
                        <%}%>
                </a>
            </div>
            <div class="right-children">
                <% if (locals.user) { %>
                    <a href="/user/sign-out">
                        <img src="https://cdn-icons-png.flaticon.com/128/6785/6785377.png" alt="">
                        <span>sign out</span>
                    </a>
                <% }else{ %>
                    <a href="/user/sign-up">
                        <img src="https://cdn-icons-png.flaticon.com/128/609/609196.png" alt="">
                        <span>sign up</span>
                    </a>
                <% } %>
            </div>
        </div>
    </nav>
</header>