<link rel="stylesheet" href="/css/auth_pages.css">
<div class="auth_box">
    <div class="title">
        <h1>Add a new Interview</h1>
    </div>
    <div class="form">
        <form action="/interviews/create" method="post">
            <input type="text" name="company" placeholder="Enter Company Name">
            <input type="date" name="date" id="">
            <input type="submit" value="Add">
        </form>
    </div>
</div>