<link rel="stylesheet" href="/css/student_profile.css">
<div class="student-profile">
    <h1>Interview Details</h1>
    <p>Name: <%= interview.company %></p>
    <p>Date: <%= interview.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }); %></p>
  
</div>
  