<link rel="stylesheet" href="/css/Student.css">
<div class="student-main">
    <div class="heading">
        <h1>Interview Page</h1>
    </div>
    <div class="studentFormLink">
        <a href="/interviews/form">
            <img src="https://cdn-icons-png.flaticon.com/128/3135/3135714.png" alt="">
            <span>Add new Interview</span>
        </a>
    </div>
    <div class="studentList">
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>View Details</th>
            </tr>
            <% for( interview of interviews ) { %>
                    <tr>
                        <td><%= interview.company %></td>
                        <td><%= interview.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }); %></td>
                        <td>
                            <a href="/interviews/<%= interview._id %>">
                                <img src="https://cdn-icons-png.flaticon.com/128/8815/8815584.png" alt="">
                            </a>
                        </td>
                       
                    </tr>   
            <% } %>
        </table>
    </div>
</div>