<link rel="stylesheet" href="/css/home.css">
<div class="home">
    <div class="heading">
        <h1>Profile page</h1>
    </div>
    <div class="credentials">
        <p>Name : <%= user.name %></p>
        <p>Email: <%= user.email %></p>
    </div>
</div>