<link rel="stylesheet" href="/css/auth_pages.css">
<div class="auth_box">
    <div class="title">
        <h1>Sign In</h1>
    </div>
    <div class="form">
        <form action="/user/create-session" method="post">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter password">
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>