<div class="sign-in">
    <h1>Sign In</h1>
    <form action="/user/create-session" method="post">
        <input type="text" name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Sign in">
    </form>
</div>