<link rel="stylesheet" href="/css/auth_pages.css">
<div class="auth_box">
    <div class="title">
        <h1>Sign Up</h1>
    </div>
    <div class="form">
        <form action="/user/create" method="post">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter password">
            <input type="password" name="confirmPassword" placeholder="Re-enter password">
            <input type="submit" value="Register">
        </form>
    </div>
</div>