<div class="sign-in">
    <h1>Sign Up</h1>
    <form action="/create" method="get">
        <input type="text" placeholder="Enter Name">
        <input type="text" placeholder="Enter Email">
        <input type="password" placeholder="Enter password">
        <input type="submit" value="Register">
    </form>
</div>