<div class="sign-in">
    <h1>Sign In</h1>
    <form action="/create-session" method="get">
        <input type="text" placeholder="Enter Email">
        <input type="password" placeholder="Enter password">
        <input type="submit" value="Sign in">
    </form>
</div>