<link rel="stylesheet" href="/css/auth_pages.css">
<div class="auth_box">
    <div class="title">
        <h1>Add a new Student</h1>
    </div>
    <div class="form">
        <form action="/students/create" method="post">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="text" name="batch" placeholder="Enter Batch">
            <input type="text" name="college" placeholder="Enter College">
            <input type="text" name="status" placeholder="Status: (Placed/Not Placed)">
            <label for="">Enter Scores : </label>
            <input type="number" name="dsa" placeholder="DSA">
            <input type="number" name="dev" placeholder="Dev">
            <input type="number" name="react" placeholder="React">
            <input type="submit" value="Add">
        </form>
    </div>
</div>